In [1]:
print(123)
print(98.6)
print('Hello world')

123

In [7]:
hours = 35.0
rate = 12.50
pay = hours * rate
print(pay)

437.5

In [8]:
x = 12.2
y = 14
x = 100

In [9]:
x = 2
x = x + 2
print(x)

4

In [13]:
x =0.6
x = 3.9 * x * ( 1 - x )
print(x)

0.9359999999999999

In [14]:
xx = 2
>>> xx = xx + 2
>>> print(xx)

4

In [15]:
yy = 440 * 12
>>> print(yy)

5280

In [16]:
zz = yy / 1000
>>> print(zz)

5.28

In [17]:
jj = 23
>>> kk = jj % 5
>>> print(kk)

3

In [18]:
print(4 ** 3)

64

In [20]:
x = 1 + 2 * 3 - 4 / 5 ** 6
print(x)

6.999744

In [21]:
y=1 + 2 ** 3 / 4 * 5
print(y)

11.0

In [22]:
ddd = 1 + 4
print(ddd)

5

In [23]:
eee = 'hello ' + 'there'
print(eee)

hello there

In [25]:
eee = 'hello ' + 'there'
eee = eee + 1

TypeError: can only concatenate str (not "int") to str

In [28]:
type(eee)

str

In [29]:
type('hello')

str

In [30]:
type(1)

int

In [31]:
xx = 1
type (xx)

float

In [32]:
temp = 98.6
type(temp)

float

In [33]:
type(1)

int

In [34]:
type(1.0)

float

In [41]:
print(float(99) + 100)

i = 42
type(i)

199.0

int

In [42]:
f = float(i)
print(f)
type(f)

42.0

float

In [43]:
print(10 / 2)
print(9 / 2)
print(99 / 100)
print(10.0 / 2.0)
print(99.0 / 100.0)

5.0
4.5
0.99
5.0
0.99

In [44]:
sval = '123'
type(sval)

str

In [45]:
print(sval + 1)

TypeError: can only concatenate str (not "int") to str

In [46]:
ival = int(sval)
>>> type(ival)

int

In [47]:
print(ival + 1)

124

In [48]:
nsv = 'hello bob'
niv = int(nsv)

ValueError: invalid literal for int() with base 10: 'hello bob'

In [50]:
nam = input('Who are you? ')
print('Welcome', nam)

Who are you? Zainab
Welcome Zainab

In [51]:
inp = input('Europe floor?')
usf = int(inp) + 1 
print('US floor', usf)

Europe floor?2
US floor 3

In [53]:
# Get the name of the file and open it
name = input('Enter file:') handle = open(name, 'r')

SyntaxError: invalid syntax (3861671952.py, line 2)

In [54]:
# Prompt the user for hours worked and rate per hour
hours = float(input("Enter Hours: "))
rate_per_hour = float(input("Enter Rate: "))

# Calculate the gross pay
gross_pay = hours * rate_per_hour

# Display the result
print("Pay:", gross_pay)

Enter Hours: 54
Enter Rate: 500
Pay: 27000.0